<!DOCTYPE HTML>
<html lang='en'>
<head>
  <title>{% block title %} MyPress {% endblock %}</title>
  <meta charset='utf-8'/>
  {% load static%}
  <link rel='stylesheet' type='text/css' href="{% static 'blog/css/base.css'%}"/>
  <link rel='stylesheet' type='text/css' href="{% static 'blog/css/post.css'%}"/>
    <link rel='stylesheet' type='text/css' href="{% static 'blog/css/footer.css'%}"/>
  <link rel='stylesheet' type='text/css' href="{% static 'blog/css/font-awesome/css/font-awesome.css'%}"/>
</head>
<body>
<!-- header -->
  <header id='header'>
    <hgroup class='header-icons'>
      <nav class='header-nav header-top-nav nav-left'>
        <ul>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Contact</a></li>
        </ul>
      </nav>
      <nav class='header-nav header-top-nav nav-right'>
        <ul>
          <li><a href='#'><i class='fa fa-github'></i></a></li>
          <li><a href='#'><i class='fa fa-twitter'></i></a></li>
          <li><a href='#'><i class='fa fa-linkedin'></i></a></li>
          <li><a href='#'><i class='fa fa-google-plus'></i></a></li>
          <li><a href='#'><i class='fa fa-facebook'></i></a></li>
          <li><a href='#'><i class='fa fa-sign-in'></i></a></li>
          <li><a href='#'><i class='fa fa-user-plus'></i></a></li>
        </ul>
      </nav>
    </hgroup>
    <article class='header-title'>
      <h1>Invent Studio</h1>
    </article>
    <nav class='header-nav header-main-nav'>
      <ul>
        <li><a href='#'><i class='fa fa-home'></i></a></li>
        <li><a href='#'>Python</a></li>
        <li><a href='#'>Templates</a></li>
        <li><a href='#'>Admin</a></li>
        <li><a href='#'>Django</a></li>
        <li><a href='#'>About</a></li>
        <li><a href='#'>Contact</a></li>
      </ul>
    </nav>
  </header>
  {% block content %} {% endblock%}
  {% block footer %} {% endblock %}
</body>
</html>
