{% extends "blog/base.html" %}
{# comment load the files now #}
{% load staticfiles%}

{% comment %}
  Extending the base.html -> post.html -> footer.html
{% endcomment %}

{% block title%} Blog {% endblock %}
<!--

  post + sidebar

-->
{% block content %}
<section id='article-img'>
  <hgroup>
    <img src="{{ post.post_img.url }}" alt=''/>
  </hgroup>
</section>

<section id='container'>
  <article id='article'>
    <hgroup class='article-title'>
      <h1> {{post.post_title}}</h1>
      <h2><a href='#'><i class='fa fa-user'></i> {{post.post_author}} </a>|<a href='#'> <i class='fa fa-calendar'></i> {{ post.pub_date | date}} </a></h2>
    </hgroup>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{post.post_article}}
    </p>
  </article>
  <aside id='sidebar'>
    <nav class='sidebar-nav'>
      <span class='sidebar-nav-title'>My Posts</span>
      <ul>
        {% for mypost in allposts %}
          <li><a href="{% url 'posts' mypost.id %}">{{mypost.post_title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <nav class='sidebar-nav'>
      <span class='sidebar-nav-title'>Popular Posts</span>
      <ul>
        <li><a href='#'>Getting Started With MyPress</a></li>
        <li><a href='#'>Creating Your First Web Application With Django</a></li>
        <li><a href='#'>JSON and Rest Framework : Creating App for your Website was never that easy</a></li>
        <li><a href='#'>Hacker Rank getting better with new challenges</a></li>
        <li><a href='#'>Insertion Sort Vs Merge Sort a detailed analysis of two sorting algorithm</a></li>
        <li><a href='#'>NIMCET Prepartion : Learning more about Permutaions and Combinations</a></li>
      </ul>
    </nav>
  </aside>
</section>
{% endblock content %}
