body{
  margin:0px;
  padding:0px;
  font-family: serif;
}

/*
  Header
*/

body{
  padding:0px;
  margin:0px;
}
.header-icons{
  display:flex;
  flex-direction:row;
  background-color:#333;
  width:90%;
  padding:0 5%;
}
.header-nav{
  flex:1 1 auto;
  display:flex;
}
.nav-right{
  justify-content: flex-end;
}
.header-nav ul{
  list-style:none;
  margin:0px;
  padding:0px;
  display:flex;
}
.header-nav ul a{
  display:inline-block;
  text-decoration:none;
}
.header-top-nav a{
  color:#eee;
  padding:10px 15px;
  font-size:12px;
  font-weight:bold
}

.header-title{
}
.header-title h1{
  margin:0px;
  display:block;
  padding:30px 0;
  text-align:center;
  color:#B31617;
  font-size:30px;
}

.header-main-nav{
  width:90%;
  padding:0 5%;
  text-align:center;
  background-color:#fcfeff;
  box-shadow:0 0 2px 1px #eee;
}
.header-main-nav ul{
  text-align:center;
}
.header-main-nav a{
  color:#333;
  padding:25px 15px;
  font-size:14px;
  font-weight:600;
  transition:all 0.5s ease-in;
}
.header-main-nav a:hover{
  color:#B31617;
}
